<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- <p [innerHTML]="userList"></p> -->
            
            <ul *ngFor="let item of userList">
                <li>
                    <p>
                        <label>Name:</label> {{ item.name }}
                    </p>
                    <p>
                        <label>College: </label> {{ item.college }}
                    </p>
                    <p>
                        <label>Degree:</label> {{ item.degree }}
                    </p>
                    <p>
                        <label>Specialization: </label> {{ item.specialization }}
                    </p>
                </li>
            </ul>
    
        </div>
    </div>
</div>

